/* CSS pour le menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #ddd;
}

/* CSS pour les cartes */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card h2 {
    margin-top: 0;
}

.card img {
    width: 100%;
    height: auto;
}
.rating {
    display: flex;
    flex-direction:row;
}

.rating input {
    display: none;
    flex-direction:row-reverse;
}

.rating label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #ccc;
}

.rating label:before {
    content: '\2605';
    display: block;
    color: #777;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
}

.rating input:checked ~ label:before,
.rating input:checked ~ label ~ label:before {
    color: #ffcc00;
}
.map {
    height: 300px;
    width: 100%;
}